.fixed-background {
  position: fixed;
  inset: 0;
  z-index: -100;
  background: radial-gradient(circle at center, #024ab0, #002437 70%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: radialShift 15s ease-in-out infinite;
  pointer-events: none;
}

@keyframes radialShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
