.hero-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  opacity: 100% !important;
}

.hero-subtitle {
  font-size: 1.5rem;
  text-align: center;
  opacity: 100% !important;
}
